*{
    padding: 0;
    margin: 0;
}

.formContainer{
    width: 75%;
    height: 60vh;
    margin: auto;
}

.form input{
    width:100%;
    height: 60px;
    margin-bottom: 30px;
    
    outline: none;
    background-color: rgba(209, 211, 211, 0.584);
    border-top: none;
    border-left: none;
    border-right: none;
}

.form input::placeholder{
    font-size: 22px;
}

.form label{
    font-size: 25px;
}

.form span{
    color: red;
}

.loginText{
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
}

@media screen and (min-width: 1300px) {
  .mainContainer{
        display: grid;
        grid-template-columns: 3fr 2fr;
    }
    .form input{
        font-size: 30px;
    }
}

@media screen and (min-width: 830px) and (max-width: 1299px){
    .formContainer{
        width: 75%;
        height: 85vh;
        margin: auto;
    }
    .mainContainer{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .form input{
        width:100%;
        height: 50px;
        margin-bottom: 30px;
        font-size: 22px;
    }
}

@media screen and  (max-width: 829px){
    .formContainer{
        width: 75%;
        height: 40vh;
        padding-top: 30px ;
    }
    .form input{
        width:100%;
        height: 40px;
        margin-bottom: 20px;
        font-size: 20px;
    }
    .form label{
        font-size: 25px;
    }
    .register{
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 10px;
    }
    .form input::placeholder{
        font-size: 16px;
    }
    .login{
        font-size: 18px;
        margin-top: 10px;
    }
}