*{
    margin: 0;
}

.logo {
    display: flex;
    align-items: center;
    width: 260px;
    justify-content: space-between;
    color: black;
    margin-left: 40px;
}

.sideBar{
    width: 24%;
    background-color: rgb(9, 9, 242);
    height: 100vh;
    color: white;
}

.sideBarItems, .logo{
    padding: 15px 0px 0px 0px; 
}

.Link {
    display: flex;
   text-decoration: none;
   color: white;
   font-size: 18px;
   padding-left: 40px;
   font-weight: 700;
   width: 250px;
}

.linkContainer{
    padding: 10px 0px;
}

.linkContainer:hover{
    background: white;
}

/* .Link:hover{
    color: blue;
    width: 100%;
} */