*{
    margin: 0;
}

.logo {
    display: flex;
    align-items: center;
    width: 260px;
    justify-content: space-between;
}

.sideBar{
    width: 22%;
    background-color: blue;
    height: 100vh;
    color: white;
}

.sideBarItems, .logo{
    padding-left: 40px;
}